<div ng-controller="directories as direct">
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2><span class="fa fa-folder-open-o" style="margin-right: 1vw"></span> Dierctories  </small></h2>

    </div>
    <!-- END PAGE TITLE -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">



                <div class="panel panel-default">
                    <div class="grid">

                     <div class="table-directions" ng-controller="schoolCtr as data">
                      <directions></directions>
                    </div>
                    <div class="table-directions" ng-controller="subjectCtr as data">
                      <directions></directions>
                    </div>
                    <div class="table-directions" ng-controller="englishCtr as data">
                      <directions></directions>
                    </div>
                    <div class="table-directions" ng-controller="t_shirtCtr as data">
                        <directions></directions>
                    </div>
                    <div class="table-directions" ng-controller="categoryCtr as data">
                        <directions></directions>
                    </div>
                    <div class="table-directions" ng-controller="statusCtr as data">
                        <directions></directions>
                    </div>


                    </div>
                </div>
              </div>

</div>