<div id="popUpMsg-bg" ng-show="table.showViewMember.visible" >


    <div class=" dialog ">
        <div class="page-content-wrap">

            <div class="row">
                <div class="col-md-12">

                    <form class="form-horizontal">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Member: <strong>{{table.viewItem.surname}} {{table.viewItem.name}}</strong></h3>
                                <ul class="panel-controls">
                                    <li> <span class="fa fa-times" ng-click="table.closeAddUpMembers()"></span> </li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div>Information: {{table.viewItem.add_inf}}</div>
                                <div>Profile: {{table.viewItem.profile}}</div>
                                <div>Prefer: {{table.viewItem.pref_profil}}</div>
                                <div>Prefer second: {{table.viewItem.pref_profil2}}</div>
                                <div>Prefer thema: {{table.viewItem.them_profil}}</div>
                                <div>Experence: {{table.viewItem.experience}}</div>
                                <div>Past paricipation: {{table.viewItem.past_paricipation}}</div>
                            </div>
                            <div class="panel-body">
                                <div ng-repeat="(key, value) in table.viewItem; i=$index">
                                <div class="row" ng-if="$index%4==0||$index==0">
                                    <div class="col-md-4" ng-if="$index%4==0||$index==0">
                                        <div class="form-group" >

                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">{{key}}</span>
                                                    <input type="text" class="form-control" value="{{value}}"/>
                                                </div>
                                                <span class="help-block">warnings</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>


                                            <!--<div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">name</span>
                                                    <input type="text" class="form-control" value="{{table.viewItem.name}}"/>
                                                </div>
                                                <span class="help-block">warnings</span>
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">middle name</span>
                                                    <input type="text" class="form-control" value="{{table.viewItem.middle_name}}"/>
                                                </div>
                                                <span class="help-block">warnings</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">Birthday</span>
                                                    <input type="text" class="form-control" value="{{table.viewItem.birthday}}"/>
                                                </div>
                                                <span class="help-block">warnings</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">Full years</span>
                                                    <input type="text" class="form-control" value="{{table.viewItem.full_years}}"/>
                                                </div>
                                                <span class="help-block">warnings</span>
                                            </div>
                                        </div>-->

                                   <!-- <div class="col-md-4">
                                        <h4>Member's parents </h4>
                                        <div class="form-group">

                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">Parent surname</span>
                                                    <input type="text" class="form-control" value="{{table.viewItem.parent_surname}}"/>
                                                </div>
                                                <span class="help-block">warnings</span>
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">name</span>
                                                    <input type="text" class="form-control" value="{{table.viewItem.parent_name}}"/>
                                                </div>
                                                <span class="help-block">warnings</span>
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">Parent middle name</span>
                                                    <input type="text" class="form-control" value="{{table.viewItem.parent_middle_name}}"/>
                                                </div>
                                                <span class="help-block">warnings</span>
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">status</span>
                                                    <input type="text" class="form-control" value="{{table.viewItem.status}}"/>
                                                </div>
                                                <span class="help-block">warnings</span>
                                            </div>
                                        </div>

                                    </div>-->
                                    <!--<div class="col-md-4">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Datepicker</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                    <input type="text" class="form-control datepicker" value="2014-11-01">
                                                </div>
                                                <span class="help-block">Click on input field to get datepicker</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tags</label>
                                            <div class="col-md-9">
                                                <input type="text" class="tagsinput" value="First,Second,Third"/>
                                                <span class="help-block">Default textarea field</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Select</label>
                                            <div class="col-md-9">
                                                <select class="form-control select">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                                <span class="help-block">Select box example</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Checkbox</label>
                                            <div class="col-md-9">
                                                <label class="check"><input type="checkbox" class="icheckbox" checked="checked"/> Checkbox title</label>
                                                <span class="help-block">Checkbox sample, easy to use</span>
                                            </div>
                                        </div>

                                    </div>-->


                            <div class="panel-footer">
                                <!--<button class="btn btn-default">Clear Form</button>
                                <button class="btn btn-primary pull-right">Submit</button>-->
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>





</div>