<div id="popUpMsg-bg1" ng-show="table.showPopUpWarning.visible">


    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="table.closeWarning()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="smallModalHead">Danger</h4>
            </div>
            <div class="modal-body">
                Please fill in the following fields: : <br>
                <h4>Name - Surname - Parent's name - Parent's surname - Full years  </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="table.closeWarning()">OK</button>

            </div>
        </div>
    </div>





</div>